
h1 {
  font-family: cursive;
  color: blue;
  text-shadow: 2,2;
}

body {
  background-color: rgb(206, 206, 41);
}

#note_body {
  width: 300px;
  border: 5px solid brown;
  padding: 10px 50px 50px 50px;
  margin: 20px;
}